<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<style>
.top-text {
    padding: 50px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
.top-text p {
    color: lightsteelblue;
}
.content {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    background-color: lightblue;
    padding: 2rem;
}
.btn {
    margin: 20px
}
.buttons {
    display: flex;
    justify-content: center;
}
</style>

<div class="container">
    <div class="top-text">
        <h1>My Collections: <%=title%></h1>
        <p><%=date%></p>
    </div>

    <div class="content">
        <p><%=content%></p>
    </div>

    <div class="buttons">
        <form action="/posts/:<%=postId%>/edit" method="GET">
            <button type="btn submit" class="btn btn-dark">Edit</button> 
        </form> 
        
        <form action="posts/:<%=postId%>/delete" method="POST">
            <button type="btn submit" class="btn btn-dark">Delete</button>  
        </form> 
    </div>
       
</div>

<%- include("partials/footer"); -%>